:root {
  --accent: rgb(5, 146, 48);
  --accent-light: rgb(70, 236, 120);
  --pure-white: #fff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: aqua;
  color: var(--accent);
}

.header {
  position: fixed;
  width: 100%;
  background-color: var(--accent);
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 60px 0;
}
.section-title {
  text-transform: uppercase;
  text-align: center;
}
.header a {
  color: #fff;
  text-decoration: none;
}

.header-navigation {
  padding: 16px 0;
  background-color: var(--accent, rgb(5, 146, 48));
  color: var(--pure-white, #fff);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 20%;
  font-size: 30px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 3px;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-link {
  text-transform: uppercase;
  padding: 19px;
  font-size: 16px;
  line-height: 16px;
  transition: background-color 0.4s;
}

.menu-link:hover {
  background-color: var(--accent-light);
}
.intro {
  padding: 60px 0;
  color: black;
}
.intro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.intro-left {
  width: 30%;
}
.intro-img {
  width: 250px;
  height: 250px;
  margin-top: 30px;
  border-radius: 50%;
}
.intro-right {
  width: 60%;
  margin-top: 30px;
}
.intro-right h1,
.intro-right h3 {
  margin: 0 0 10px;
}
.intro-right p {
  line-height: 20px;
}
.contacts {
  margin-bottom: 60px;
  color: black;
}
.contacts ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts li {
  text-align: center;
}
.skills {
  padding: 60px 0;
  background-color: var(--accent);
  color: var(--pure-white);
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  padding: 10px;
  list-style: none;
}
.skills li {
  padding: 10px 15px 5px;
  background-color: var(--accent-light);
  border-radius: 4px;
}
.code-example {
  margin: 60px 0;
  text-align: center;
  color: black;
}
.code-example p {
  font-style: italic;
}
.code-example b {
  font-style: normal;
}
.code-example pre {
  width: 75%;
  margin: 0 auto;
  padding: 0 20px 0 35px;
  text-align: left;
  font-size: 1.2em;
  color: var(--pure-white);
  background-color: var(--accent);
  border-radius: 8px;
}
.portfolio {
  margin: 50px 0;
  padding: 30px 0 50px;
  text-align: center;
  background-color: var(--accent);
  color: var(--pure-white);
}

.wrapper div {
  padding: 10px 15px;
  background-color: var(--accent-light);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
}
.wrapper {
  width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 350px 300px 400px;
  grid-column-gap: 40px;
}

.wrapper p {
  text-align: left;
}
.wrapper img {
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(4, 13, 17, 0.75);
}
.wrapper table {
  border-collapse: collapse;
  border: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
th,
td {
  border: 1px solid black;
}

hgroup,
aside,
article,
div footer {
  padding: 10px;
  background-color: rgb(110, 105, 126);
  color: var(--pure-white);
  font-size: 16px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
.site {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 100px 1fr;
  grid-template-rows: minmax(50px auto) 1fr minmax(100px, auto);
  grid-template-areas:
    "hgroup hgroup"
    "aside article"
    "footer footer";
}
.hgroup {
  grid-area: hgroup;
  width: 335px;
  padding: 0;
}
.saidebar {
  grid-area: aside;
}
.about {
  grid-area: article;
}
.footer {
  grid-area: footer;
  margin: 1px 0 5px;
}
.education {
  margin: 60px 0;
  text-align: center;
  color: black;
}
.education ul {
  margin: 20px 0;
  padding: 20px 0;
  list-style: none;
}
.language {
  padding: 60px 0;
  background-color: var(--accent);
  color: var(--pure-white);
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}
.language ol {
  padding: 20px 470px;
  line-height: 30px;
}
footer {
  margin: 60px 0;
  text-align: center;
  color: rgb(2, 11, 66);
}
